@model HFrame.Web.Default.Model.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>登陆</title>
</head>
<body class="background">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("Login", "Default", FormMethod.Post, new { @class = "col-md-6 center loginbord" }))
            {
                <h2 class="loginText">登陆</h2>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "请输入用户名" })
                </div>

                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "请输入密码" })
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" value="登陆"/>
                    <a class="btn btn-primary btn-block" href="@Url.Action("Register")">注册</a>
                </div>
            }
        </div>
    </div>
</body>
</html>
